.row {
  display: flex;
  flex-wrap: wrap; /* Allows the columns to wrap onto new lines as needed */
 }
 
 .column {
  flex: 50%;
  padding: 20px; /* Adds padding inside the columns for better spacing */
  box-sizing: border-box; /* Includes padding in the element's total width and height */
 }
 
 .bullet-list {
  list-style-type: disc;
  color: black;
  padding-left: 20px;
 }
 
 .h2, .why, .about-us {
  padding-left: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
 }
 
 .para {
  padding-left: 40px;
  margin-top: 30px;
  font-size: large;
 }
 
 /* Responsive styles */
 @media (max-width: 768px) {
  .column {
     flex: 100%; /* Stacks the columns vertically on smaller screens */
     margin-top: 20px; /* Reduces the top margin for better spacing */
     margin-bottom: 20px; /* Reduces the bottom margin for better spacing */
  }
 
  .h2, .why, .about-us {
     padding-left: 15px; /* Reduces the left padding for better spacing */
     margin-top: 20px; /* Reduces the top margin for better spacing */
     margin-bottom: 20px; /* Reduces the bottom margin for better spacing */
  }
 
  .para {
     padding-left: 20px; /* Reduces the left padding for better spacing */
     margin-top: 20px; /* Reduces the top margin for better spacing */
  }
 }