<header>
    <h1>Welcome to Carfic Garage</h1>
    <p>Your One-Stop Car Workshop</p>
    
  </header>
  
  
  <section class="landing">
    <div class="landing-content">
      <h1>Welcome to Our Car Garage</h1>
      <p>Explore a World of Luxury and Performance</p>
      <a routerLink="garage" class="explore-button">Explore Our Cars</a>
    </div>
  </section>

  
  <div class="main-content">
    <div class="card">
      <h2>About Us</h2>
      <p>We are passionate about cars and dedicated to providing top-notch automotive services...</p>
      <button class="button">Learn More</button>
    </div>
  
    <div class="card">
      <h2>Services</h2>
      <p>From routine maintenance to complex repairs, we've got your car covered...</p>
      <button class="button">Explore Services</button>
    </div>
  </div>
  
  <footer>
    <p>&copy; 2023 Carfic Garage</p>
  </footer>
  
