/* @import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Montserrat:wght@400;600;700&display=swap");

* {
 box-sizing: border-box;
 padding: 0;
 margin: 0;
}

:root {
 --header-height: 3.5rem;
 --first-color: hsl(28, 88%, 62%);
 --title-color: hsl(0, 0%, 95%);
 --text-color: hsl(0, 0%, 75%);
 --body-color: hsl(0, 0%, 6%);
 --body-font: "Montserrat", sans-serif;
 --second-font: "Dancing Script", cursive;// carfic/src/components/nav/routes.js
import React from "react";
import { NavLink } from "react-router-dom";
import "./routes.css";

const RoutingComponent = () => {
 return (
    <header className="header">
      <nav className="nav container">
        <NavLink to="/" className="nav__logo">
          Navigation Bar
        </NavLink>

        <div className={"nav__menu"} id="nav-menu">
          <ul className="nav__list">
            <li className="nav__item">
              <NavLink to="/" className="nav__link">
                Home
              </NavLink>
            </li>
            <li className="nav__item">
              <NavLink to="/about" className="nav__link">
                About Us
              </NavLink>
            </li>
            <li className="nav__item">
              <NavLink to="/contact" className="nav__link">
                Contact Us
              </NavLink>
            </li>
            <li className="nav__item">
              <NavLink to="/services" className="nav__link">
                Services
              </NavLink>
            </li>
            <li className="nav__item">
              <NavLink to="/spares" className="nav__link">
                Spare Parts
              </NavLink>
            </li>
            <li className="nav__item">
              <NavLink to="/footer" className="nav__link nav__cta">
                Footer
              </NavLink>
            </li>
          </ul>
        </div>
      </nav>
    </header>
 );
};

export default RoutingComponent;
 --h2-font-size: 1.25rem;
 --small-font-size: 0.813rem;
 --font-semi-bold: 600;
 --z-tooltip: 10;
 --z-fixed: 100;
}

body {
 background-color: var(--body-color);
 color: var(--text-color);
 font-family: var(--body-font);
}

ul {
 list-style: none;
}

a {
 text-decoration: none;
} */