/* index.css */

/* Footer Container */
.footer {
  background-color: #4c667b;
  color: #fff;
  padding: 50px 0;
  position: relative; /* Positioning context for absolute positioning */
}

/* Footer Content */
.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* Footer Column */
.footer-column {
  flex-basis: calc(25% - 20px); /* 4 columns layout with some spacing */
  margin-bottom: 20px;
}

/* Logo */
.logo h4 {
  font-size: 24px;
}

/* Footer Sections */
.footer-section h5 {
  font-size: 18px;
  margin-bottom: 10px;
}

.footer-section ul {
  list-style-type: none;
  padding: 0;
}

.footer-section li {
  margin-bottom: 10px;
}

.footer-section a {
  color: #fff;
  text-decoration: none;
}

.footer-section a:hover {
  text-decoration: underline;
}

/* Talk Section */
.talk-section {
  text-align: center;
  margin-bottom: 20px;
}

/* Contact Section */
.contact {
  margin-bottom: 10px;
}

.hours p {
  margin: 5px 0;
}

/* Footer Bottom */
.footer-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px 0;
  text-align: center;
}


/* index.css */

/* Logo */
.logo {
  display: flex;
  justify-content: center;
}

.logo img {
  max-width: 100%; /* Ensure the image doesn't exceed its container */
  height: auto;
}
/* index.css */

.footer-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}

.footer-bottom p {
  margin: 0;
}

.footer-bottom a {
  color: #fff;
  text-decoration: none;
}

/* Social Icons */
.social-icons {
  display: flex;
  justify-content: flex-start;
  margin-left: 30px;
}

.social-icons a {
  color: #fff;
  font-size: 20px;
  margin-right: 10px;
}

.social-icons a:last-child {
  margin-right: 0;
}

/* Paragraph Text */
/* Copyright Text */
.copyright {
  text-align: center;
}

.copyright p {
  color: #f70d0d;
  margin-right: 80px;

}