.card {
    border: none; /* Remove border */
    border-radius: 0;
    background-color: transparent; /* Match the background color */
    margin: 50px;
    overflow: hidden; /* Prevent image overflow */
  }
  
  .card-content {
    padding: 15px;
  }
  
  .card-title {
    font-size: 1.25rem;
    font-weight: bold;
    text-align: center; /* Center text */
  }
  
  .card-text {
    font-size: 1rem;
    text-align: center; /* Center text */
  }
  
  .card-button {
    display: block;
    padding: 15px 35px;
  }
  