/* Cards.css */

.card {
  max-width: 500px; /* Increase the max-width of the card */
  margin: 25px; /* Adjust the margin as needed */
 }
 
 .cardMedia {
  height: 200px; /* Increase the height of the CardMedia component */
 }
 