<div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2>About Carfic Garage</h2>
        <p>
          Carfic Garage is a leading car repair and maintenance workshop located in [Your Location]. We have been serving our community for [Number of Years] years, providing top-quality automotive services.
        </p>
        <p>
          Our team of experienced mechanics and technicians is dedicated to ensuring the safety and reliability of your vehicle. We specialize in [Types of Services] and take pride in delivering exceptional results.
        </p>
      </div>
      <div class="col-md-6">
        <!-- Add an image or any other visual elements to showcase your garage -->
        <img src="assets/about-us-image.jpg" alt="Carfic Garage" class="img-fluid">
      </div>
    </div>
  </div>
  