<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h2>About Carfic Garage</h2>
      <p>
        Carfic Garage is a leading car repair and maintenance workshop located
        in [Your Location]. We have been serving our community for [Number of
        Years] years, providing top-quality automotive services.
      </p>
      <p>
        Our team of experienced mechanics and technicians is dedicated to
        ensuring the safety and reliability of your vehicle. We specialize in
        [Types of Services] and take pride in delivering exceptional results.
      </p>
      <P>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Bibendum est
        ultricies integer quis auctor. Lacus sed viverra tellus in hac. Velit
        euismod in pellentesque massa placerat. Morbi tristique senectus et
        netus et malesuada fames ac turpis. Sed cras ornare arcu dui vivamus
        arcu felis. Dolor sit amet consectetur adipiscing elit pellentesque.
        Posuere morbi leo urna molestie at elementum. Quisque sagittis purus sit
        amet volutpat consequat. In nibh mauris cursus mattis molestie a
        iaculis.
      </P>
    </div>
    <div class="col-md-6">
      <!-- Add an image or any other visual elements to showcase your garage -->
      <img
        src="assets/about-us-image.jpg"
        alt="Carfic Garage"
        class="img-fluid"
      />
    </div>
  </div>
</div>
