/* index.css */
.banner {
    position: relative;
    width: 100%;
    height: 600px; /* Adjust the height as needed */
    overflow: hidden;
   }
   
   .banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    opacity: 0;
    transition: opacity 1s ease-in-out;
   }
   
   .banner img.active {
    opacity: 1;
   }
   
   /* Keyframes for the slide animation */
   @keyframes slide {
     0% { opacity: 0; }
     100% { opacity: 1; }
   }
   
   /* Responsive styles */
   @media (max-width: 768px) {
    .banner {
       height: 400px; /* Adjust the height for smaller screens */
    }
   }
   
   @media (max-width: 480px) {
    .banner {
       height: 300px; /* Adjust the height for even smaller screens */
    }
   }