.banner {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 100%;
   height: 100vh; /* Use viewport height for full screen */
   overflow: hidden;
   position: relative;
}

.banner::after {
   content: "";
   display: table;
   clear: both;
}

.banner img {
   width: 100%;
   height: 100%;
   object-fit: cover;
   position: absolute;
   opacity: 0;
   transition: opacity 1s ease-in-out;
   z-index: -1; /* This places the images behind the content */
}

.banner img.active {
   opacity: 1;
}

.slogans {
   display: flex;
   flex-direction: column;
   justify-content: center;
   float: left; /* This will float the .slogans div to the left */
   align-items: center;
   padding: 20px;
   text-align: center;
   z-index: 1; /* Ensure this is in front of the images */
   background-color: rgba(255, 255, 255, 0.7); /* Semi-transparent white background */
   border-radius: 10px; /* Optional: Adds rounded corners */
   padding: 30px; /* Increase padding for better spacing */
}

.paragraph {
   margin-bottom: 20px;
   font-family: 'Arial', sans-serif;
   font-size: 40px;
}

.emphasis {
   font-size: 40px; /* Adjust the size as needed */
   color: #333; /* Change the color as needed */
   font-weight: bold;
}

button {
   padding: 10px 40px;
   font-size:3rem;
   background-color: #333;
   color: #fff;
   border: none;
   cursor: pointer;
}
/* Responsive styles */
@media (max-width: 768px) {
   .banner {
       height: 400px; /* Adjust the height for smaller screens */
   }

   .slogans {
       padding: 15px; /* Decrease padding for smaller screens */
   }

   .paragraph, .emphasis {
       font-size: 30px; /* Decrease font size for smaller screens */
   }

   button {
       padding: 5px 20px;
       font-size: 2rem;
   }
}

@media (max-width: 480px) {
   .banner {
       height: 300px; /* Adjust the height for even smaller screens */
   }

   .slogans {
       padding: 10px; /* Decrease padding for even smaller screens */
   }

   .paragraph, .emphasis {
       font-size: 20px; /* Decrease font size for even smaller screens */
   }

   button {
       padding: 5px 10px;
       font-size: 1.5rem;
   }
}