/* Navbar styles */
.navbar {
    background-color: #9933cc; /* Dark background color */
  }
  
  .navbar-brand {
    font-size: 24px;
    font-weight: bold;
  }
  
  .navbar-nav .nav-link {
    color: #fff; /* White text color */
    font-size: 18px;
    margin-right: 20px; /* Spacing between links */
  }
  
  .navbar-toggler-icon {
    color: #fff; /* White color for the toggle icon */
  }
  