/* banner.css */

.text-div {
  padding-top: 30px;
  color: #ffffff; /* Darker text color for better readability */
  font-size: 2.1rem; /* Slightly larger font size for emphasis */
  line-height: 1.6; /* Increased line height for better readability */
  /* Add some padding inside the text div to ensure content is not too close to the edges */
  padding-left: 30px;
  /* Optionally, add a background color to make the text stand out */
  /* background-color: #000102; Light gray background color */
 }
.banner-row {
  padding: 0 !important;
  margin: 0 !important;
}



.image-div {
  padding: 0 !important;
  margin: 0 !important;
  height: 450px;
  background-image: linear-gradient(to left, rgba(0,0,0,0), rgba(0,0,0,1)), url("../../../assets/image/home.jpeg");
  background-size: cover;
}



/* banner.css */

.container-fluid {
  background-color: rgba(0,0,0,1); /* Light gray background color */
  padding: 0 !important;
  margin: 0 !important;
  width: 100%; /* Full width */

 }



 
 /* Style the image itself */
 .image-div img {
  /* Ensure the image is responsive and scales nicely */
  width: 100%;
  height: auto;
  /* Optionally, add some margin or padding to the image */
 }

 /* Add this to your CSS file, for example, in banner.css */

.button {
  background-color: transparent; /* Bootstrap primary color */
  border-color: #ececec; /* Match the background color */
  color: #f5f4f4; /* White text */
  padding: 15px 40px; /* Increase padding for better clickable area */
  font-size: 1.8rem; /* Larger font size */
  border-radius: 0px; /* Rounded corners */
  margin-left:30px ; 
  margin-bottom: 20px;
  margin-top: 20px;

 }
 
 .button:hover {
  background-color: #0056b3; /* Darker shade on hover */
 }
 /* banner.css */

/* banner.css */

.text-div h1 {
  font-size: 4.2rem; /* Adjust the font size as needed */
  color: #ffffff; /* Darker text color for better readability */
  font-weight: bold; /* Makes the text bold */
  margin-bottom: 20px; /* Adds some space below the heading */
  padding-bottom: 20px; /* Adds some space below the heading */
 }